<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Ester Ojala, veebiprogrammeerimine 2023</title>
</head>
<body>
	<img src="/banner/banner.png" alt="Veebiprogrammeerimise kursuse b채nner">
	<h1><%= h1 %></h1>
	<ol>
		<!--Teeme ejs ts체kli, mis k채ib l채bi massiivi names-->
		<% names.forEach(function(sentence){ %>
			<li><%= sentence %></li>
		<% }); %>
	</ol>
	<hr>
	<ul>
		<li><a href = "/">Avalehele</a></li>
	</ul>
	<hr>
</body>
</html>