<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Ester Ojala, veebiprogrammeerimine 2023</title>
</head>
<body>
	<img src="/banner/banner.png" alt="Veebiprogrammeerimise kursuse bänner">
	<h1>Uudised</h1>
	<ul>
		<li><a href="/news">Uudiste avaleht</a></li>
		<li><a href="/news/read">Viimased uudised</a></li>
		<li><a href = "/">Avalehele</a></li>
	</ul>
	<hr>
	<h3><%= news.title %></h3>
	<p>Lisatud: <%= news.added %></p>
	<p><%= news.content %></p>
</body>
</html>
